<!doctype html>
<html lang="en" ng-app="Twitter">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel='stylesheet' href='/stylesheets/TweetList.css' />

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-resource.min.js"></script>
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular-sanitize.js"></script> -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4//angular-route.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
  <!-- <script src="//platform.twitter.com/widgets.js"></script> -->
  <script src="/javascripts/angular-app.js"></script>
  <script src="/javascripts/TweetList.js"></script>
    <script src="/javascripts/directives/repeatEnd.js"></script>
  <script src="/javascripts/services/TweetService.js"></script>
  <script src="/javascripts/services/UserTagsService.js"></script>
  <script src="/javascripts/modules/ngtweet.min.js"></script>


  <script src="//cdnjs.cloudflare.com/ajax/libs/masonry/3.1.5/masonry.pkgd.min.js"></script>
</head>
<body>

  <div ng-controller="TweetList as TWList">

    <div class="row">
      <div class="col-lg-12">
        <h1><img id="twitter-logo" src="images/Twitter_logo_white.png" /><%= title %> - <span ng-bind="TWList.user.name"></span>  <span ng-bind="TWList.user.lastname"></span></h1>
      </div>
    </div>

    <div class="row">
      <div class="btn-group btn-group-lg">
      <span ng-repeat="tag in TWList.taglist">
<button type="button" class="btn btn-default" ng-click="TWList.deleteTag(tag);"> {{tag.tag}}   <i class="fa fa-times-circle-o" aria-hidden="true" style="font-size:15px" ></i>
<span class="glyphicon glyphicon-remover" aria-hidden="true"></span>
  </button>
      </span>

      </div>
    </div>
<br>
    <div id="search-container" class="row">
      <div class="col-lg-3">
        <!-- this form will trigger the getTweets function in the javascript controller on submit -->
        <form class="input-group" ng-submit="TWList.getTweets()" >
          <span class="input-group-addon">@</span>
          <!-- this text input is binded to a variable in the javascript controller -->
          <input type="text" class="form-control" placeholder="TwitterDev" ng-model="TWList.username">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Get Tweets</button>
          </span>
        </form>
      </div>
    </div>

    <div class="row clearfix">
      <div class="col-lg-12">
        <div id="tweet-list">
          <div ng-repeat="tweet in TWList.tweetsResult" class="tweet-item" repeat-end="TWList.startLayout()">
            <twitter-widget twitter-widget-id="tweet.tweet_id">  </twitter-widget>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-12">
        <button type="button" class="load-more-btn btn btn-default" ng-click="TWList.getMoreTweets()">Get More Tweets</button>

      </div>
    </div>

  </div>

</body>
</html>
